@import '../../styles/settings.scss';
.columnForm {
text-align: center;
padding: 10px;

}

.columnFormTitle {
  margin: 12px;
}

.columnFormInput {
  margin: 12px;
}

@media (max-width: 767px) {

    .component {
      width: 100%;
      margin: 0 0 $base-size 0;
    }

    .columnFormButton {
    padding-top: 12px;
  }

  }
